@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.background-image-with-color {
    background-image: url("/src/images/black-squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-image-nav {
    background-image: url("/src/images/black-squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-squiggle {
    background-image: url("/src/images/squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-color-foot {
    background-color: #B99772;
}