@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

/* h1, h2, h3, picture, img {
    animation: fadeIn 2s;
}

p {
    animation: fadeIn 2s backwards;
    animation-delay: 1000ms;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} */

.landing {
    border-radius: 12px;
/*     background: rgb(166,119,88);
    background: linear-gradient(0deg, rgba(166,119,88,0) 0%, rgba(166,119,88,0.5154061624649859) 50%, rgba(166,119,88,1) 100%); */
}

.basic-grid{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2 - 3rem * 1/2, max(300px, 100%/3 - 3rem * 2/3)), 1fr));
}

@media only screen and (max-width: 768px) {
    .basic-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}

.background-image-with-color {
    background-image: url("/src/images/black-squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-image-nav {
    background-image: url("/src/images/black-squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-squiggle {
    background-image: url("/src/images/squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-color-foot {
    background-color: #D5B9A8;
}

.background-iphone {
    background-color: #F9F5F2;
}

.background-iphone:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("/src/images/squiggles.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}