@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.background-image-with-color {
    background-image: url("/src/images/black-squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-image-nav {
    background-image: url("/src/images/black-squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-squiggle {
    background-image: url("/src/images/squiggles.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.background-color-foot {
    background-color: #B99772;
}

.background-iphone {
    background-color: #F9F5F2;
}

.background-iphone:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url("/src/images/squiggles.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}